/* 
    Created on : 09.05.2019, 23:25:13
    Author     : oleg
*/

/**
 * Upload area
 */
.uploader{
    
}
.media-upload-area {
    position: relative;
    border: 3px dashed #eee;
    margin: -2px;
    overflow: hidden;
    cursor: pointer;
    display: block;
    color: #555;
    text-align: center;
}
.media-upload-area input[type=file] {
    position: absolute;
    top: -999px;
    left: -999px;
}