/* 
    Created on : 09.05.2019, 23:25:13
    Author     : oleg
*/

/**
 * Upload area
 */
[data-media-item] {
    min-height: 100px;
    min-width: 100px;
    background-image: url(../img/upload.png);
}

[data-media-item]:hover{
    border-color: #6c757d!important;
}

.progress.progress-media{
    margin-top: 36px;
    font-size: 9px;
}